@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Hedvig+Letters+Sans&family=Lato&family=Montserrat:wght@300&family=Noto+Sans:wght@500&family=Open+Sans&family=Poppins&family=Roboto:wght@300&family=Vina+Sans&display=swap');

* {
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
